{% extends 'base.html' %}
{% block title %}THE BARS-About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="container ml-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-item active">
            <img class="p-1" src="/static/img/mac.jpeg" alt="First slide" width="1240" height="500">
        </div>
        <div class="carousel-caption d-none d-md-block ">
            <h1 class="text-center"><b>
                    ABOUT US
                </b></h1>

            <h2 class="text-center"><b><marquee>THE BARS</marquee></h2></b>

            <h3>Bishal | Abiskar | Ramesh | Sujit</h3>
            <span class="elementor-button-content-wrapper">
                <a class="btn btn-info" href="/blog" role="button">Join to Blog</a>

            </span>
        </div>
    </div>
</div>


<div class="container marketing m-2">
    <h1 class="text-center">MEET MY FRIENDS: THE BARS</h1>

    <!-- Three columns of text below the carousel -->
    <div class="row ml-5">
        <div class="col-lg-4">
            <img class="rounded-circle"
                src="/static/img/abiskar.jpeg"
                alt="Generic placeholder image" width="140" height="140">
            <h2>Abiskar Bhandari</h2>
            <p>Hi, it’s nice to meet you! My name is Abiskar bhandari. 
            I’m fashion photographer and I’ve been photographing for almost 4years.
            I specialize in making portraits of strangers on the street both digitally and with film. 
            Truth is stranger than fiction, and I’ve always been compelled by that fact, 
            especially here in pokhara City.I worked 4 years at restaurant and also shoot weeding video .
            I request you contact for any photography and videography work.
             It would be great to stay in touch with you .</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle"
                src="/static/img/bishal.jpg"
                alt="Generic placeholder image" width="140" height="140">
            <h2>Bishal Bhandari</h2>
            <p>Hey its me simple, small and happy man Bishal bhandari from somewhere around the earth.
             Right now I am no more than a student.
             I am studying at 12 grade.Almost one third of my life till now spend in school 
             without gaining any knowledge 😂. Besides that I have a lots of hobbies and future/Big plan.
             I would like to mention some of them i.e. Adventure, 
             Exploring new places, listening music, playing games,  watching movies etc. 
             Among them i prefer exploring new places that give me a kind of different feelings cause
              i don't hesitate to communicate with people aslo i don't 
              feel shy to ask and know about others place that's why i prefer to visit new places most.. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 md-1">
            <img class="rounded-circle"
                src="/static/img/sujit.jpg"
                alt="Generic placeholder image" width="140" height="140">
            <h2>Sujit Gautam</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Photography <span class="text-muted">:THE BARS.</span></h2>
            <p class="lead">Photography is the art, application, and practice of creating durable images by recording light,
             either electronically by means of an image sensor, 
            or chemically by means of a light-sensitive material such as photographic film. 
            It is employed in many fields of science, manufacturing (e.g., photolithography), 
            and business, as well as its more direct uses for art, film and video production, recreational 
            purposes, hobby, and mass communication.Typically, a lens is used to focus the light reflected 
            or emitted from objects into a real image on the light-sensitive surface inside a camera during a 
            timed exposure. With an electronic image sensor, this produces an electrical charge at each pixel,
             which is electronically processed and stored 
            in a digital image file for subsequent display or processing.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                style="width: 500px; height: 500px;"
                src="/static/img/photo.jpeg"
                data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Programming: <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">A computer program is a series of instructions, written in words,
             numbers and symbols. Just like any spoken sentence is in a human language like English or French, 
             every computer program is in a programming language. A few popular programming languages are 
             Python (what we will teach here), C++, JavaScript and PHP. We have chosen to teach Python since 
             it is both simple enough for beginners and powerful enough to be used by modern companies. 
             All programming languages use the same general principles, 
            so after you know any one language, you can learn others more quickly.Thousands of different programming languages have been created, 
            and more are being created every year. Many programming languages are written in an imperative form 
            (i.e., as a sequence of operations to perform) while other languages use the declarative form 
            (i.e. the desired result is specified, not how to achieve it).</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="/static/img/program.jpeg"
                data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Graphic Design: <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Graphic design is a notion for defining a visual communication tool. 
            In other words, this is a sort of craft which helps individuals create content of 
            different quality and complexity levels by 
            using multiple page layout and perspective hierarchy techniques.

Such an approach involves applying raster or even vector images, 
as well as typography means to satisfy consumers’ objectives and requirements. 
At the same time, the focus is still on the logical and harmonic displaying of the 
project’s elements in order to boost end users’ experience.Graphic Designer in Daily Life Being a graphic 
designer not all that easy One thing that graphic designer have to do is meet a strict deadlines.You will 
find yourself working odd hours but this schedule isn’t all that bad. Many people don’t realize the logo on on 
the thing they have is made by graphic designer and it may could 've taking a long time.The stress and worry and 
criticism are all things you learn to deal with as time goes by normally criticism is
 the first thing as you know who to listen</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="/static/img/tiger.jpeg"
                data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


  
        <!-- FOOTER -->
      <footer class="container-fluid bg-dark m-0 my-1 py-1 text-light">
        <p class="float-left"><a href="https://www.instagram.com/ramesh_prj/">Made by Ramesh Parajuli</a></p>
        <p class="text-right">NEPAL| Pokhara,33700| THE BARS.<br>
        email: rameshparajuli.work@gmail.com</p>
        <p class="text-center">Copyright © 2021 THE BARS</p>
      </footer>
</main>

</div>

{% endblock body %}